body{
    background-image:url(manly.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
}
#results{
    color: rgb(190, 192, 192);
    font-size: 18px;
    position: relative;
 left: 300px;;
    bottom: 300px;
}
#ww
{
    color: rgb(240, 254, 255);
    position: relative;
    font-size: x-small;
    left: 950px;
    bottom: 150px;
}
#mi
{ position: relative;
    bottom: 350px;
    left: 90px;
    font-size: 20px;
    
}
#hh
{
    font-size: large;
    color: aqua;
    left: 700px;;
}
button
{ position: relative;
    bottom: 300px;
    border-radius: 100px;
    font-size: x-large;
    color: rgb(246, 242, 242);
    background-color: rgb(77, 77, 241);
    left: 150px;
}
p
{
    font-size: large;
}
#xx
{
    position: relative;
    left: 10px;
    top: 100px;
}
#hi{
    background-color: black;
    font-size: 20px;
    position: relative;
    left: 650px;
    font-weight: 900;
bottom: 155px;}